node_modules
.prettierrc
.eslintrc.json
.env
imageSeeder/node_modules
imageSeeder/testUpload
imageSeeder/upload
bundle.js
*.log
*.temp
newrelic.js
newrelic_agent.log
server/newrelic_agent.log
client/public/bundle.js
